body {
  text-align: center;
  background-color: black;
}

body {
  background-image: url("super.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  text-align: center;
}

ul li {
  list-style-type: none;
}

.hide {
  display: none;
}

.size {
  font-size: 25px;
}

.size1 {
  font-size: 25px;
}

.messages {
  margin-bottom: 10%;
}
